---
Checks:
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
FormatStyle: 'file'
UseColor: true
User: gianluisdiana
WarningsAsErrors: true
...
